{
    "RootNamespace": "SereneCustomize",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=TVLLAP15;User Id=sa; Password=sa1234; Initial Catalog=Default;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.DailyAttendance",
                    "Identifier": "DailyAttendance",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Designation",
                    "Identifier": "Designation",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Users",
                    "Identifier": "Employee",
                    "Module": "Default",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "HRM",
            "ConnectionString": "Data Source=TVLLAP15; Initial Catalog=SDF_AMS; User Id=sa; Password=sa1234;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.AMS_Attenance",
                    "Identifier": "AmsAttenance",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_Designation",
                    "Identifier": "PrmDesignation",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_EmploymentInfo",
                    "Identifier": "PrmEmploymentInfo",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HRM_SalaryProcess",
                    "Identifier": "HrmSalaryProcess",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HRM_SalaryTemplate",
                    "Identifier": "HrmSalaryTemplate",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HRM_SalaryTemplateDetails",
                    "Identifier": "HrmSalaryTemplateDetails",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HRM_SalaryComponent",
                    "Identifier": "HrmSalaryComponent",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HRM_EmployeeSalary",
                    "Identifier": "HrmEmployeeSalary",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.HRM_EmployeeSalaryDetails",
                    "Identifier": "HrmEmployeeSalaryDetails",
                    "Module": "HRM",
                    "ConnectionKey": "HRM",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\SereneCustomize\\SereneCustomize.Web\\SereneCustomize.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}