@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.DailyAttendance.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneCustomize.Default.DailyAttendanceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>