@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.HRM.HrmEmployeeSalary.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SereneCustomize.HRM.HrmEmployeeSalaryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>